.Calculadora{
    display:block;
    margin:0 auto;
    padding:20px;
    background-color:#41b1b1;
    width:350px;
    height:500px;
    border-radius: 10px;
}
.Calculadora td button{
    display:block;
    font-family: 'VT323', monospace;
    width:70px;
    background-color:#a9e0e0;
    height: 70px;
    font-size: 30px;
    border-radius: 25px;
}

#resultado{
    font-family: 'VT323', monospace;
    display:block;
    text-align:end;
    font-size: 40px;
    margin-bottom: 50px;
    width:300px;
    height: 100px;
    line-height: 100px;
    background-color:#f0e3e3;
    border-radius: 25px;     
}